*{
    padding: 0%;
    margin: 0%;
    
}

.h1{
    
    background-color: rgb(8, 161, 8);
    padding: 2%;
    font-size: 30px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.img1{
    padding: 9px;
    text-align: right;
}
.p1 {
    padding: 20px;
    font-size: 19px;
    float:left;
    width:500px;
    background-color:#feffff;
}
.img2{
    padding: 22px;
    text-align: right;
}
.img3{
    padding: 9px;
    text-align: right;
}
.img4{
    padding: 9px;
    text-align: right;
}

